@model PresentationLayer.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
}

<script src="@Url.Content("~/Scripts/Dashboard.js")" type="text/javascript"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyACZEsTgnDXNAuphz0jeO_jT-bZsQLa5ho&sensor=false" type="text/javascript"></script>
@Html.ActionLink("Create a new suggestion", "Create", "Suggestion", new { }, new { @class = "big-link" })

<div id="suggestions-tabs">
    <ul>
        <li><a href="#tabs-1">All Suggestions</a></li>
        <li><a href="#tabs-2">Joined Suggestions</a></li>
    </ul>
    <div id="tabs-1">
        <table class="suggestions-table" cellspacing="0">
            <tr>
                <th>Name</th>
                <th>Sport</th>
                <th>Time Period</th>
                <th>No</th>
            </tr>
            
           @foreach(Domain.Suggestion suggestion in Model.AllSuggestions)
            {
                <tr>
                   <td><a href="#suggestions-details" onclick="getSuggestion(@suggestion.Id)">@suggestion.Title</a></td>
                   <td>@suggestion.Sport.Name</td>
                   <td>@suggestion.StartDate.ToString("dd.MM.yy") - @suggestion.EndDate.ToString("dd.MM.yy")</td>
                   <td>@suggestion.JoinedUsers.Count    /@suggestion.MaximumUsers</td>
               </tr>
            }
        </table>
    </div>
    <div id="tabs-2">
                <table class="suggestions-table" cellspacing="0">
            <tr>
                <th>Name</th>
                <th>Sport</th>
                <th>Time Period</th>
                <th>No</th>
                <th>Status</th>
            </tr>
             @foreach(Domain.Suggestion suggestion in Model.JoinedSuggestions)
            {
                <tr>
                   <td><a href="#suggestions-details" onclick="getSuggestion(@suggestion.Id)">@suggestion.Title</a></td>
                   <td>@suggestion.Sport.Name</td>
                   <td>@suggestion.StartDate.ToString("dd.MM.yy") - @suggestion.EndDate.ToString("dd.MM.yy")</td>
                   <td>@suggestion.JoinedUsers.Count/@suggestion.MaximumUsers</td>
               </tr>
            }
        </table>

    </div>
    @Html.Partial("_SuggestionDetails")
    

</div>