@model PresentationLayer.UserViewModel

@{
    ViewBag.Title = "Profile";
}

<h2>@Model.FirstName @Model.LastName</h2>

@using (Html.BeginForm()) {

    <div>
        <fieldset>
            <legend>Profile information</legend>
            <div style="float:left">
            <div class="editor-label">
                @Html.LabelFor(m => m.FirstName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.FirstName, new { disabled="disabled" })
            </div>
             <div class="editor-label">
                @Html.LabelFor(m => m.LastName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.LastName, new { disabled = "disabled" })
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Gender)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Gender, new { disabled = "disabled" })
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.BirthDate)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.BirthDate, new { disabled = "disabled" })
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email, new { disabled = "disabled" })
            </div>
            </div>

            <div style="float:left">
            <div class="editor-label">
                @Html.LabelFor(m => m.StreetAddress)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.StreetAddress, new { disabled = "disabled" })
                @*Html.ValidationMessageFor(m => m.Email)*@
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Area)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Area, new { disabled = "disabled" })
                @*Html.ValidationMessageFor(m => m.Email)*@
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.State)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.State, new { disabled = "disabled" })
                @*Html.ValidationMessageFor(m => m.Email)*@
            </div>
           <div class="editor-label">
                @Html.LabelFor(m => m.PhoneNumber)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.PhoneNumber, new { disabled = "disabled" })
            </div>
                     
            </div>
            
        </fieldset>
    </div>
}
