@model PresentationLayer.SuggestionViewModel

<script>
    $(function () {
        $("#suggestions-join").button();
        if ($("#suggestions-join").hasClass("ui-button-disabled")) {
            $("#suggestions-join").addClass("suggestion-already-joined");
        }

        createJoinDialog();
    });
</script>
           
<div id="suggestions-content" data-join-url="@Url.Action("Join", "Suggestion")" data-update-url="@Url.Action("GetSuggestion", "Suggestion")" data-view-user="@Url.Action("View", "User")">
    <div class="main-title">Suggestion details</div>
    @if (Model != null)
    {
    <div id="suggestions-left-div">
        

        <div class="sub-title" id="suggestion-title">@Html.DisplayTextFor(m => m.Title)</div> 
        <p id="description">@Html.DisplayTextFor(m => m.Description) </p><br />
        <p id="sport">@Html.LabelFor(m => m.Sport): @Html.DisplayTextFor(m => m.Sport.Name)</p>
        <p id="creator">@Html.LabelFor(m => m.Creator): @Html.DisplayTextFor(m => m.Creator.FirstName) @Html.DisplayTextFor(m => m.Creator.LastName)</p>
        <p id="time-period">@Html.LabelFor(m => m.StartDate): @Model.StartDate.Day.@Model.StartDate.Month.@Model.StartDate.Year - @Model.EndDate.Day.@Model.EndDate.Month.@Model.EndDate.Year</p>
        <p id="users">@Html.LabelFor(m => m.JoinedUsers): @Html.DisplayTextFor(m => m.JoinedUsers.Count) / @Html.DisplayTextFor(m => m.MaximumUsers)</p>                                                
        <p id="status">@Html.LabelFor(m => m.IsClosed): @Html.DisplayFor(m => m.IsClosed)</p>
        <p id="location">Location: @Html.DisplayFor(m => m.Location)</p>

        <div id="suggestions-user-list">
            <p><br />Joined Users:</p>
            <ul>
                @foreach (var currentUser in Model.JoinedUsers)
                {
                    <li>@Html.ActionLink(currentUser.User.FirstName, "View", "User", new { Id = currentUser.User.Id }, new { })</li>
                }
            </ul>
        </div>
    </div>
    <div id="suggestions-right-div" style="width: 300px; height:300px">
        @if (Model.Location != null)
        {
            <script>showmap();</script>
        }
        else
        {
            <text>A map will be generated when the minimum users have joined.</text> 
        }
    </div>
    
    <div style="width:50%">
    <!-- if user already have joined the suggestion, !-->
    
        @{
            int id = Convert.ToInt32(((PresentationLayer.CustomPrincipal)HttpContext.Current.User).UserID);
            if(Model.JoinedUsers.FindAll(m => m.User.Id == id).Count > 0)
            {
                <div id="suggestions-join" disabled="true">Joined</div>
            }
            else if(Model.IsClosed)
            {
                <div id="suggestions-join" disabled="true">Closed</div>
            }
            else
            {
                <div id="suggestions-join" onclick="joinSuggestion(@Model.Id)">Join suggestion!</div>
            }
         }
    </div>
    }
    else
    {
        @Html.Encode("No suggestions have been created.")
    }
       @using (Ajax.BeginForm("Join", "Suggestion", new {}, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "suggestions-content" }, new { id = "suggestions-join-form" }))
       {
           @Html.HiddenFor(m => m.Id)
           Html.RenderPartial("_JoinSuggestion", new PresentationLayer.Weekdays());
       }
   </div>