@model PresentationLayer.DashboardViewModel
           
<div id="suggestions-content" data-update-url="@Url.Action("GetSuggestion", "Suggestion")" data-view-user="@Url.Action("View", "User")">
    <div class="main-title">Suggestion details</div>
        
    <div id="suggestions-left-div">
        <div class="sub-title">@Model.SelectedSuggestion.Title</div> 
        <p id="description">@Model.SelectedSuggestion.Description</p>
        <p id="creator">Creator: Steffen</p>
        <p id="time-period">Time period: @Model.SelectedSuggestion.StartDate.Day.@Model.SelectedSuggestion.StartDate.Month.@Model.SelectedSuggestion.StartDate.Year - @Model.SelectedSuggestion.EndDate.Day.@Model.SelectedSuggestion.EndDate.Month.@Model.SelectedSuggestion.EndDate.Year</p>
        <p id="users">Users: @Model.SelectedSuggestion.JoinedUsers.Count / @Model.SelectedSuggestion.MaximumUsers</p>                                                
        <p id="status">Status: @if(Model.SelectedSuggestion.IsClosed)
                    { <text>Closed</text> }
                    else
                    { <text>Open</text> } 
        </p>
        <p id="location">Location: @if (@Model.SelectedSuggestion.Location == null) { <text>Location will be generated after the minimum number of users has joined</text> } else { @Model.SelectedSuggestion.Location.Name }</p>

        <div id="suggestions-user-list">
            <p><br />Joined Users:</p>
            <ul>
                @foreach(var currentUser in Model.SelectedSuggestion.JoinedUsers)
                {
                    <li>@Html.ActionLink(currentUser.User.FirstName, "View", "User", new { Id = currentUser.User.Id }, new { })</li>
                }
            </ul>
        </div>
    </div>
    <div id="suggestions-right-div" style="width: 300px; height:300px">
        @if (Model.SelectedSuggestion.Location != null)
        {
            <script>showMap(0, 0);</script>
        }
        else
        {
            <text>A map will be generated when the minimum users have joined.</text> 
        }
    </div>
</div>  