@model PresentationLayer.SuggestionViewModel
           
<div id="suggestions-content" data-update-url="@Url.Action("GetSuggestion", "Suggestion")" data-view-user="@Url.Action("View", "User")">
    <div class="main-title">Suggestion details</div>
    @if (Model != null)
    {
    <div id="suggestions-left-div">
        

        <div class="sub-title" id="suggestion-title">@Html.DisplayTextFor(m => m.Title)</div> 
        <p id="description">@Html.DisplayTextFor(m => m.Description) </p><br />
        <p id="sport">@Html.LabelFor(m => m.Sport): @Html.DisplayTextFor(m => m.Sport.Name)</p>
        <p id="creator">@Html.LabelFor(m => m.Creator): @Html.DisplayTextFor(m => m.Creator.FirstName) @Html.DisplayTextFor(m => m.Creator.LastName)</p>
        <p id="time-period">@Html.LabelFor(m => m.StartDate): @Model.StartDate.Day.@Model.StartDate.Month.@Model.StartDate.Year - @Model.EndDate.Day.@Model.EndDate.Month.@Model.EndDate.Year</p>
        <p id="users">@Html.LabelFor(m => m.JoinedUsers): @Html.DisplayTextFor(m => m.JoinedUsers.Count) / @Html.DisplayTextFor(m => m.MaximumUsers)</p>                                                
        <p id="status">@Html.LabelFor(m => m.IsClosed): @Html.DisplayFor(m => m.IsClosed)</p>
        <p id="location">Location: @Html.DisplayFor(m => m.Location)</p>

        <div id="suggestions-user-list">
            <p><br />Joined Users:</p>
            <ul>
                @foreach (var currentUser in Model.JoinedUsers)
                {
                    <li>@Html.ActionLink(currentUser.User.FirstName, "View", "User", new { Id = currentUser.User.Id }, new { })</li>
                }
            </ul>
        </div>
    </div>
    <div id="suggestions-right-div" style="width: 300px; height:300px">
        @if (Model.Location != null)
        {
            <script>showMap(0, 0);</script>
        }
        else
        {
            <text>A map will be generated when the minimum users have joined.</text> 
        }
    </div>
    
    <div style="width:50%">
    <!-- if user already have joined the suggestion, !-->
        @Ajax.ActionLink("Join suggestion!", "JoinSuggestion", "Suggestion", new { id = Model.Id }, new AjaxOptions { OnComplete = "joinSuggestion", UpdateTargetId = "UpdateTargetId", HttpMethod = "Post" }, new { id = "suggestions-join" })
        <!--
        
        <input id="suggestions-join" type="submit" value="Join suggestion" onclick="joinSuggestion("+@Model.Id+")"/>
        -->
    </div>
    }
    else
    {
        <text>No suggestions have been created.</text>
    }
</div>  