@model PresentationLayer.CreateSuggestionViewModel

@{
    ViewBag.Title = "Create a suggestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
     <div>
        <fieldset>
            <legend>Create Suggestion</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.Title)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Title, new { @class = "suggestion-input-field" })
                @Html.ValidationMessageFor(m => m.Title)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Sport)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Sport, new { @class = "suggestion-input-field" })
                @Html.ValidationMessageFor(m => m.Sport)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.StartDate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.StartDate)
                @Html.ValidationMessageFor(m => m.StartDate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.EndDate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(m => m.EndDate)
                @Html.ValidationMessageFor(m => m.EndDate)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Description)
            </div>
            <div class="editor-field">
                @Html.TextAreaFor(m => m.Description, new { @class = "suggestion-input-field" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>

            <div class="editor-label">
                <label >Your weekly schedule</label>
            </div>
            <div class="editor-field">
                <div class="suggestion-day-box">
                    @Html.CheckBoxFor(m => m.Monday)
                    <p>Mo</p>
                </div>
                <div class="suggestion-day-box">
                    @Html.CheckBoxFor(m => m.Tuesday)
                    <p>Tu</p>
                </div>
                <div class="suggestion-day-box">
                    @Html.CheckBoxFor(m => m.Wednesday)
                    <p>We</p>
                </div>
                <div class="suggestion-day-box">
                    @Html.CheckBoxFor(m => m.Thursday)
                    <p>Th</p>
                </div>
                <div class="suggestion-day-box">
                    @Html.CheckBoxFor(m => m.Friday)
                    <p>Fr</p>
                </div>
                <div class="suggestion-day-box">
                    @Html.CheckBoxFor(m => m.Saturday)
                    <p>Sa</p>
                </div>
                <div class="suggestion-day-box">
                    @Html.CheckBoxFor(m => m.Sunday)
                    <p>Su</p>
                </div>
            </div>
            <div style="clear: both"></div>

            <div class="editor-label">
                @Html.LabelFor(m => m.MinPeople)
                @Html.TextBoxFor(m => m.MinPeople, new { @class = "suggestion-input-number-field" })
                @Html.ValidationMessageFor(m => m.MinPeople)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.MaxPeople)
                @Html.TextBoxFor(m => m.MaxPeople, new { @class = "suggestion-input-number-field" })
                @Html.ValidationMessageFor(m => m.MaxPeople)
            </div>

            <div id="suggestion-submit-container">
                <input type="reset" value="Clear" />
                <input type="submit" value="Create" />
            </div>
        </fieldset>
    </div>
}

@Html.ValidationSummary(true, "Creating suggestion was unsuccessful. Please correct the errors and try again.")